/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111111;
    color: white;
    padding: 20px 0;
}

header .container {
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav a {
    color: white;
    text-decoration: none;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

nav a:hover {
    background-color: #161616;
}

/* Estilos del Formulario */
main {
    max-width: 800px;
    margin: 30px auto;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

form select, form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form select:focus, form input:focus {
    border-color: #111212;
    outline: none;
}

form button {
    padding: 10px 20px;
    background-color: #010101;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0d0d0d;
}

/* Estilos para las opciones en el formulario */
form select option {
    font-size: 1rem;
    color: #333;
}

/* Botón Volver */
.btn-volver {
    color: white;
    background-color: #230e80;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-volver:hover {
    background-color: #218838;
}
